<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="My aggregate of social links." />
<title>{{ .Title | safeHTML }}</title>
{{ if .Site.Params.favicon | default false }}
  {{- $favicon := resources.Get (printf "media/%s" .Site.Params.favicon) -}}
  {{ if not $favicon }}
    {{ errorf "FavIcon not found `assets/media/%s`" .Site.Params.favicon }}
  {{ end }}
  <link rel="icon" href="{{ $favicon.RelPermalink }}" />
{{ end }}

{{ with $style := resources.Get "style.scss" | resources.ToCSS (dict "targetPath" "/css/style.css") | minify | resources.Fingerprint "sha512" }}
  <link
    rel="stylesheet"
    href="{{ $style.Permalink | safeURL }}"
    integrity="{{ $style.Data.Integrity }}"
    crossorigin="anonymous"
  />
{{ end }}
